.nav-color {
    background-color:#34735c;
  }
  .h1-nav {
    color: #fbf6f0;
    font-size: 26px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .add {
    padding: 5px;
    color: #34735c;
  }

  .btn-add {
    background-color:rgba(243,247,241) ;
    border:rgba(243,247,241) ;
    
  }
  